.status-card {
}

.status-card ul {
    list-style: none;
    padding: 0;
}

.status-card a {
    /* Override :visited style */
    color: var(--text-color);
}

.status-item {
    padding: 4px 10px;
}

.status-item a {
    text-decoration: none;
}

.status-item .with-issues {
    color: red;
}

.more-ingests {
    color: #8c8c8c;
}